# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Flavia\PycharmProjects\CompetitionHelper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/6f64fa1b-d6a3-433d-bdff-5d753eb60859.xml
